@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#r3f-root {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: linear-gradient(#96bceb, #e7eff8, #cecfd1);
}

#nav-root {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.debug {
  font-family:'Courier New', Courier, monospace;
  font-size: 0.66rem;
  background: rgba(255, 255, 255, 0.25);
  padding: 0.5rem;
  margin: 1rem;
}