@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#menu {
  width: 20%;
}

#dropdown-basic {
  width: 320px;
  height: 60px;
  border-radius: 20px;
  border-width: 1px;
  border-color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 30px;
  background-color: #c4c4c4;
  color: black;
  text-align: left;
  padding-left: 30px;
  display: inline-block;
  vertical-align: top;
}

#menu {
  width: 320px;
  height: 60px;
  border-radius: 0;
  border-width: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 30px;
  background-color: white;
  color: black;
  display: inline-block;
  vertical-align: top;
}

.dropdown-item {
  padding-left: 30px;
  width: 300px;
  border-radius: 20px;
  border-width: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 30px;
  background-color: white;
  color: black;
}

#dropdown-basic:focus {
  outline: none;
  box-shadow: none;
}

/* https://stackoverflow.com/questions/21003535/anyway-to-prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic
*/
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: default;
}

.div-inline {
  display: inline-block;
}
